.top_bar {
  height: 5.5rem;
  background-image: linear-gradient(90deg, #c3002f 60%, #f3f3f3 40%);
  display: none;

  &.sm {
    height: 2rem;
  }

  @media (min-width: 768px) {
    display: block;
  }
}

.mainNav {
  margin-top: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  position: relative;
  z-index: 1000;
  
  @media (min-width: 768px) {
    margin-top: -2.75rem;
  }

  .navbar-main {
    padding-top: 1rem;
    padding-bottom: 1rem;

  }
}

.main-menu .nav-link {
  font-weight: 500;

  &:hover {
    color: #c3002f !important;
  }
}

.home-slider {
  margin-top: 0;

  @media (min-width: 768px) {
    margin-top: -3rem;
  }
}

.carousel-caption {
  bottom: 30%;
}

.main-section {
  padding-top: 6rem;
  padding-bottom: 10rem;

  .col {
    padding: 1rem;
    
    @media (min-width: 768px) {
      padding: 2rem 2.5rem;
    }

    &.kfm_preview {
      width: 100%;

      img {
        width: 120%;
      }
    }
  }
}

.right_border {
  border-right: 0;

  @media (min-width: 768px) {
    border-right: 1px solid #eaeaea !important;
  }
}

.bottom_border {
  border-right: 0;

  @media (min-width: 768px) {
    border-bottom: 1px solid #eaeaea;
  }
}

.main-head {
  font-size: 1.35rem;
  line-height: 1.5rem;
}

.sub-head {
  font-size: 1.2rem;
  font-weight: 500;
}

.primary-head {
  font-size: 2.5rem;
  font-weight: 500;
}

.about-section {
  background-color: #f8f8f8;
  padding: 5.5rem 0;
  
}

.flourmill_bag {
  position: relative;

  .bag_container {
    margin-top: 0;

    img {
      margin-top: 0;
    }
  }

  @media (min-width: 768px) {
    .bag_container {
      position: absolute; 
      border-left: 1.5rem solid #c3002f;
      border-bottom: 1.5rem solid #c3002f;
      height: 100%;
      margin-top: -9rem;
  
      img {
        margin-top: -5.3rem;
        width: 100%; 
        height: 500px; 
        object-fit: fill;
      }
    }
  }
}

.about-btm {
  margin-bottom: -20rem;

  .col-12 {
    margin-bottom: .5rem;
    margin-top: .5rem;
  }

  &__item {
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1.5rem;
    border-radius: 3px;
    transition: all 0.4s ease-in-out;

    &:hover {
      transform: translateY(-5px);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .img-box {
      transition: all 0.4s ease-in-out;
      overflow: hidden;
    }

    img {
      transition: all 0.4s ease-in-out;
    }

    &:hover img {
      transform: scale(1.1);
    }

  }
}

.health-section {
  line-height: 2rem;
  background: url('/images/plant_bg.jpg') no-repeat bottom left;
  background-size: cover;

  &__red {
    background-color: #c3002f;
    padding: 1rem .8rem;

    .primary-head {
      font-size: 2rem;
    }

    @media (min-width: 768px) {
      padding: 2rem 7rem 2rem 1.5rem;
    }
  }

  &__dark {
    background-color: #222d35;
    padding: 3rem .8rem;

    @media (min-width: 768px) {
      padding: 4rem 8rem 2.5rem 1.5rem;
    }
  }

  .main-head, .primary-head, .sub-head {
    color: #fff;
  }

  p {
    color: #fafafa;
  }
}

.extra_space {
  height: 20rem;
}