@import './styles/topbar';
@import './styles/nav';
@import './styles/slide';
@import './styles/main';
@import './styles/about';
@import './styles/health';
@import './styles/footer';

.right_border {
  border-right: 0;

  @media (min-width: 768px) {
    border-right: 1px solid #eaeaea !important;
  }
}

.bottom_border {
  border-right: 0;

  @media (min-width: 768px) {
    border-bottom: 1px solid #eaeaea;
  }
}

.extra_space {
  height: 20rem;
}